.idea linguist-generated=true
http linguist-generated=true
gradle linguist-generated=true
gradlew linguist-generated=true
gradlew.bat linguist-generated=true
settings.gradle.kts linguist-generated=true
build.gradle.kts linguist-generated=true
